.App {
  text-align: center;
  background-color: #fff;
  display: flex;
  justify-content: center;
}
.card {
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  width: 350px;
  margin: auto;
  height: 500px;
  border-radius: 10px;
  box-shadow:  5px 5px 15px #d9d9d9, 
             -5px -5px 15px #ffff;
  overflow: hidden;
  background-repeat: no-repeat;
}
.background {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}

.card-content {
  width: 100%;
  position: relative;
  z-index: 100;
  bottom: 0;
  height: 15%;
  align-items: flex-start;
  background-color: #b6b6b62f;
}
.card-content h3 {
  margin: 0;
  opacity: 1;
  color: #3660A6;
  font-size: 22px;
}